html{
    background-color: var(--light-color);
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--secondary-color);
}

a:visited{
    text-decoration: none;

}

footer{
    background-color: var(--secondary-color);
    position: absolute;
    margin-top: 1em;
    width: 100%;
    color: var(--light-color);
}

.sidebar{
    background-color: var(--primary-color);
    border-radius: 0.40em;
    align-items: center;
    margin: 0;
    margin-top: 50px;
}

.sidebar-btn{
    margin: 0.7em;
    text-align: left;
}

.carrousel-img{
    width: 100%;
    border-radius: 1em 1em 0 0
}

.publicity{
    width: 100%;
    margin-top: 3.2em;
    cursor: pointer;
}

.carrousel{
    cursor: pointer;
    border-radius: 1.4em 1.4em 0 0;
    border-width: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.carrousel-1{
    cursor: pointer;
    border-radius: 1.4em;
    border-width: 0.5em;
}

.blogs{
    cursor: pointer;
    border-radius: 1.4em 1.4em 0 0;
    border-width: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.blogs-1{
    cursor: pointer;
    border-radius: 1.4em 1.4em 0 0;
    border-width: 0.5em;
    margin-bottom: 1em;
}

.post{
    text-align: justify;
}

.text-post{
    line-height: 1.5em;
}

.imagen{
    transform: scale(1);
    transition: transform .8s;
}

.principal-content{
    margin-top: 50px;
}

.form-group{
    margin-bottom: 8px;
}

.form-control{
    display: block;
    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
}

.user{
    font-weight: bold;
}

.edit-profile{
    width: 100%;
}

.edit-post{
    width: 100%;
    height: 7em;
}

.edit-profile-container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    border-radius: 1em;
    border-width: 0.2em;
    padding: 1em;
}

.edit-post-container{
    margin-top: 2em;
    border-radius: 1em;
    border-width: 0.2em;
    padding: 1em;
}

.comment-text{
    padding: 0;
    margin: auto 0;
    list-style: bold;
}

.user-img{
    width: 10%;
    height: 10%;
    padding: 0.5em;
}

.comments-section{
    border-radius: 1em;
    border-width: 0.2em;
    padding:1em;
}

.comment{
    display: flex;
    border-width: 0.1em;
    margin: 1em;
}

.textarea-comment{
    border-radius: 1em; 
    margin: 1em
}

@media (max-width: 1200px) {
    .sidebar{
        background-color: var(--secondary-color);
        border-radius: 0;
        align-items: center;
        margin: 0;
    }
    
    .sidebar-btn{
        margin: 0;
        text-align: center;
    }

    .principal-content{
        margin-top: 20px;
    }

    h1{
        font-size: 1.2em;
    }

    p{
        font-size: 0.8em;
    }

    .publicity{
        width: 100%;
        margin-top: 1.3em;
    }

    .footer{
        bottom: 0;
        margin-top: 1em;
    }

    .edit-profile{
        width: 100%;
    }
}